<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda</title>
</head>
<body>
  
  <h1>Agenda de Contatos</h1>
  
  
  <form action="/create" method="POST">
    <input name='name'>
    <input name='email'>
    <input name='phone'>
    <button type="submit">
      Adicionar
    </button>
        
    
    <ul>
    {% for item in contacts %}
      <li>
        {{ item.name }}
        <a href="/delete/{{loop.index0}}">❌</a>
      </li>
    {% endfor %}
    </ul>

  </form>